* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bgcolor: #f2f2f2;
}
body {
  overflow-x: hidden;
}
.top-bar {
  display: flex;
  justify-content: space-between;
}
.logo {
  position: fixed;
}
.logo img {
  margin-top: 10px;
  margin-left: 70px;
}
.search {
  display: flex;
  align-items: center;
  gap: 15px;
  position: fixed;
  margin: auto;
  margin-left: 25%;
  margin-top: 5px;
}
.search input {
  width: 600px;
  border-radius: 20px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 10px;
}
.search .bell {
  display: none;
}
.search .mic {
  font-size: 1.4rem;
  background-color: var(--bgcolor);
  border-radius: 50%;
  font-size: 1.4rem;
  color: black;
  padding: 10px;
  width: 40px;
  border: 1px solid black;
}
.profile {
  display: flex;
  position: fixed;
  font-size: 1.4rem;
  gap: 20px;
  align-items: center;
  margin-top: 3px;
  margin-left: 85%;
}
.profile .pro-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bgcolor);
  border-radius: 20px;
  color: black;
  width: 100px;
  height: 30px;
  font-size: 1.3rem;
  border: 1px solid black;
}
.profile .bell {
  background-color: transparent;
  border-radius: 50%;
  width: 40px;
  padding: 10px;
}
.profile .user {
  background-color: transparent;
  border-radius: 50%;
  width: 40px;
  padding: 10px;
  margin-left: -10px;
}
.profile .bell:hover {
  background-color: var(--bgcolor);
  border-radius: 50%;
  width: 40px;
  padding: 10px;
  color: black;
}
.profile .user:hover {
  background-color: var(--bgcolor);
  border-radius: 50%;
  width: 40px;
  color: black;
  padding: 10px;
}
.nav {
  position: fixed;
  margin-top: 60px;
  margin-left: 5%;
}
.nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.nav ul li {
  flex: 0 0 auto;
  font-size: 1.1rem;
  border: 1px solid black;
  padding: 5px;
  border-radius: 15px;
  background-color: var(--bgcolor);
  color: black;
}
.search .searching {
  display: none;
  height: 200px;
}
.nav ul li:hover,
.search .mic:hover,
.profile .pro-letter:hover {
  cursor: default;
  background-color: white;
  color: black;
}
.videos {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 20px;
  margin-top: 120px;
  margin-left: 20px;
  margin-left: 5%;
}
.vid {
  border: 1px solid black;
  height: 300px;
  width: 450px;
  border-radius: 20px;
  background-color: transparent;
}
.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  align-items: center;
  margin-top: -270px;
  height: 150vh;
  gap: 50px;
  width: 4.5%;
}
.sidebar .plus {
  display: none;
}
.sidebar i {
  font-size: 1.3rem;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sidebar i:hover {
  background-color: var(--bgcolor);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.videos .vid img {
  width: 450px;
  height: 75%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
@media (max-width: 768px) {
  .top-bar .logo img {
    position: fixed;
    height: 23px;
    width: 80px;
    margin-left: 10px;
  }
  .search {
    width: 20%;
  }
  .search .bell {
    display: inline-flex;
  }
  .search input {
    width: 150px;
    display: none;
  }
  .search i {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search .searching {
    display: flex;
    font-size: 20px;
    margin-top: -82px;
    margin-left: 335%;
  }
  .search .mic,
  .profile .user,
  .profile .pro-letter,
  .search .bell {
    display: none;
  }
  .profile {
    display: none;
  }
  .nav {
    position: fixed;
    margin-top: 50px;
    margin-left: 5%;
    width: 92%;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .nav::-webkit-scrollbar {
    display: none;
  }
  .nav ul {
    display: inline-flex;
    gap: 10px;
    padding: 10px 0;
    width: max-content;
  }
  .nav ul li {
    flex: 0 0 auto;
    font-size: 0.8rem;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: var(--bgcolor);
    color: black;
  }
  .videos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 0;
    margin-top: 30%;
  }
  .videos .vid {
    margin-top: -20px;
    width: 98%;
    height: 200px;
    border-radius: 15px;
    margin: 0 auto;
  }
  .videos .vid img {
    width: 100%;
    height: 75%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .sidebar .bar {
    display: none;
    margin-left: -20px;
  }
  .sidebar i {
    font-size: 1.7rem;
  }
  .sidebar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    bottom: -72%;
    width: 100%;
  }
  .sidebar .plus {
    display: inline-flex;
  }
}
